/***********box model*********/
* {
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: auto;
  background-color: #fff4f3;
}

section{
  width: 100%;
  margin-top: 5%;
  margin: auto;
}


/***********images************/

img {
  display: none;
  margin: auto;
}

#box {
  display: block;
}


/*button*/

button {
  padding: 1.5% 5%;
  display: block;
  margin: auto;
  background-color: #ffd25c;
  border: none;
  border-radius: 1em;
  margin-top: 4%;
}

button:hover {
  background-color: #ffa144;
}


/********typography********/

h1 {
  font-size: 2em;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: #ff0000;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  padding-top: 2%;
  padding-bottom: 1%;
}

p {
  font-family: 'Inconsolata', monospace;
  color: #ff0000;
  font-size: 1em;
  text-align: center;
}

button {
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  color: #ff0000;
}


/***************************MOBILE*****************************/
@media only screen and (min-width: 320px) and (max-width: 756px) {
  body {
    width: 100%;
  }

  button {
    padding: 10% 30%;
    margin: auto;
    margin-top: 8%;
  }

  img {
    max-width: 80%;
  }
}
